{% extends "layout.html" %}
{% block body %}
{% if error %}<div class="alert alert-danger">Error: {{ error }}</div>{% endif %}
<div class="row">
  <div class="col-md-4">
    <h4>Upload test labels</h4>
    <p>This should be <strong>hidden</strong> from the user.</p>
    <form method=post enctype=multipart/form-data>
      <div class="form-group">
        <input type=file class="form-control-file" name=testlabels>
      </div>
      <button type=submit class="btn btn-primary">Upload test labels</button>
    </form>
  </div>
  <div class="col-md-4">
    <h4>Upload train data</h4>
    <p>This will be shown to the user</p>
    <form method=post enctype=multipart/form-data>
      <div class="form-group">
        <input type=file class="form-control-file" name=train>
      </div>
      <button type=submit class="btn btn-primary">Upload train data</button>
    </form>
  </div>
  <div class="col-md-4">
    <h4>Upload test data (without labels)</h4>
    <p>This will be available to the user.</p>
    <form method=post enctype=multipart/form-data>
      <div class="form-group">
        <input type=file class="form-control-file" name=testnolabels>
      </div>
      <button type=submit class="btn btn-primary">Upload test data (without labels)</button>
    </form>
  </div>
</div>
{% endblock body %}
