{% extends "layout.html" %}
{% block body %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Timestamp (UTC)</th>
      <th scope="col">UUID</th>
      <th scope="col">Notes</th>
    </tr>
  </thead>
  {% if entries %}
  <tbody>
  {% for sub in entries %}
    <tr>
      <th scope="row">{{ sub.name }}</th>
      <td>{{ sub.timestamp }}</td>
      <td><a href={{ url_for('uploaded_file', filename = sub.uuid + "." + sub.extension) }}>{{sub.uuid}}</a></td>
      <td>{{ sub.notes }}</td>
    </tr>
    {% endfor %}
  {% endif %}
  </tbody>
</table>
{% endblock body %}
