{% extends "layout.html" %}
{% block title %}Sign In{% endblock %}
{% block body %}
<div class="row">
  <div class="col-md-6">

    <h1>Machine learning competition data set:</h1>
    <a class="btn btn-primary" href={{ url_for('uploaded_file', filename='train.csv') }}>Download train data</a> 

    <p>Description of train dataset:</p>
<p>{% filter markdown %}
{{ content[0].content|safe }}
{% endfilter %}</p>
    <br />
    <a class="btn btn-primary" href={{ url_for('uploaded_file', filename='test.csv') }}>Download test data</a> 

    <p>Description of test dataset:</p>
    <p>
{% filter markdown %}
{{ content[1].content|safe }}
{% endfilter %}
    </p>
  </div>
  <div class="col-md-6">
    <h1>Data visualization competition data set:</h1>
    <a class="btn btn-primary" href={{ url_for('uploaded_file', filename='vizdata.csv') }}>Download data for visualization</a>

    <p>Description of data for visualization:</p>
    <p>
{% filter markdown %}
{{ content[2].content|safe }}
{% endfilter %}
    </p>
  </div>
</div> 
{% endblock body %}
