{% extends "layout.html" %}
{% block title %}Sign In{% endblock %}
{% block body %}
<div class="row">
  <div class="col-md-6">

    <h1>Download datasets:</h1>
    <a class="btn btn-primary" href={{ url_for('uploaded_file', filename='train.csv') }}>Download train data</a> 

    <p>Description of train dataset:</p>
    {% filter markdown %}
    {{ content[0].content|safe }}
    {% endfilter %}
    <br />
    <a class="btn btn-primary" href={{ url_for('uploaded_file', filename='test.csv') }}>Download test data</a> 

    <p>Description of test dataset:</p>

    {% filter markdown %}
    {{ content[1].content|safe }}
    {% endfilter %}
  </div>
  <div class="col-md-6">
    <h1>Data visualization competition data set:</h1>
    <a class="btn btn-primary" href={{ url_for('uploaded_file', filename='vizdata.csv') }}>Download data for visualization</a>

    <p>Description of data for visualization:</p>

    {% filter markdown %}
    {{ content[2].content|safe }}
    {% endfilter %}
  </div>
</div> 
{% endblock body %}
