{% extends "layout.html" %}
{% block body %}
<div class="container">
  <h1>Leaderboard</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col"># Submissions</th>
        <th scope="col">Public LB Score</th>
        <th scope="col">Timestamp (UTC)</th>
      </tr>
    </thead>
    {% if entries %}
    <tbody>
    {% for sub in entries %}
      <tr>
        <th scope="row">{{ sub.name }}</th>
        <td>{{ sub.numsubs }}</td>
        <td>{{ sub.publicscore }}</td>
        <td>{{ sub.timestamp }}</td>
      </tr>
      {% endfor %}
    {% endif %}
    </tbody>
  </table>
</div>
{% endblock body %}
