{% extends "layout.html" %}
{% block body %}
<div class="col-md-6">
  <h2>Reset password</h2>
  {% if error %}<div class="alert alert-danger">Error: {{ error }}</div>{% endif %}
  <form action="" method="post">
    <div class="form-group">
      <label for="code">Code</label>
      <input type="text" class="form-control" id="code" 
              name="code" size="30" value="{{ request.form.code }}">
    </div>
    <div class="form-group">
      <label for="pwinput">New password:</label>
      <input class="form-control" type="password" name="password" id="pwinput" size="30">
    </div>
    <div class="form-group">
      <label for="pw2input">New password (again):</label>
      <input class="form-control" type="password" name="password2" id="pw2input" size="30">
    </div>
    <button type="submit" class="btn btn-primary">Reset password</button>
  </form>
</div>
{% endblock %}
