{% extends "layout.html" %}
{% block body %}
<div class="container">
  <div class="col-md-4">
    <h2>Reset your password:</h2>
    {% if success %}<div class="alert alert-success">{{ success }}</div>{% endif %}
    {% if error %}<div class="alert alert-danger">Error: {{ error }}</div>{% endif %}
    <form action="" method="post">
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="text" class="form-control" id="email" 
                name="email" size="30" value="{{ request.form.email }}">
      </div>
      <button type="submit" class="btn btn-primary">Reset your password</button>
    </form>
  </div>
</div>
{% endblock %}
