{% extends "layout.html" %}
{% block body %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Submission ID</th>
      <th scope="col">Timestamp (UTC)</th>
      <th scope="col">Public LB Score</th>
      <th scope="col">Notes</th>
    </tr>
  </thead>
  {% if submissions %}
  <tbody>
  {% for sub in submissions %}
    <tr>
      <th scope="row">{{ sub.subid }}</th>
      <td>{{ sub.timestamp }}</td>
      <td>{{ sub.publicscore }}</td>
      <td>{% filter markdown %} {{ sub.notes }} {% endfilter %}</td>
    </tr>
    {% endfor %}
  {% endif %}
  </tbody>
</table>
{% endblock body %}
